<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="paymentDetailId" [value]="service.formData.paymentDetailId">
  <div class="form-group">
    <label class="text-uppercase">Card Owner</label>
    <input type="text" class="form-control form-control-sm" placeholder="Full Name" name="cardOwner"
      #cardOwner="ngModel" [(ngModel)]="service.formData.cardOwner" required
      [class.invalid]="cardOwner.invalid && cardOwner.touched">
  </div>
  <div class="form-group">
    <label class="text-uppercase">Card Number</label>
    <input type="text" class="form-control form-control-sm" placeholder="16 Digit Card Number" name="cardNumber"
      #cardNumber="ngModel" [(ngModel)]="service.formData.cardNumber" required maxlength="16" minlength="16"
      [class.invalid]="cardNumber.invalid && cardNumber.touched">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="text-uppercase">Security Code</label>
      <input type="password" class="form-control form-control-sm" placeholder="Security Code" name="securityCode"
        #securityCode="ngModel" [(ngModel)]="service.formData.securityCode" required maxlength="3" minlength="3">
    </div>
    <div class="form-group col-md-6">
      <label class="text-uppercase">Valid Through</label>
      <input type="text" class="form-control form-control-sm" placeholder="MM/YY" name="expirationDate"
        #expirationDate="ngModel" [(ngModel)]="service.formData.expirationDate" required maxlength="5" minlength="5">
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-info btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
  </div>
</form>
